<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 开启注解配置 -->
	<context:annotation-config />

	<!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
	<context:component-scan base-package="com.outwit.das.permission.service.*" />
	
	
	<!-- 获取spring容器已经实例化的bean -->
	<bean class="com.outwit.das.common.InstantiationTracingBeanPostProcessor" />
	
	
	<bean id="springContextUtil" class="com.outwit.das.common.SpringContextUtil" />
	<!-- 缓存服务bean -->
	<bean id="cacheManager" class="com.outwit.das.cache.CacheManagerImpl"></bean>
	<!-- 账户安全检查拦截器 <bean id="accountSecurityCheckInterceptor" class="com.th.bdal.tools.AccountSecurityCheckInterceptor" 
		></bean> <aop:config> <aop:pointcut id="chcekPoint" expression="execution(public 
		* com.th.bdal.*.*.*.service.*.*(..)) "/> <aop:advisor pointcut-ref="chcekPoint" 
		advice-ref="accountSecurityCheckInterceptor"/> </aop:config> -->
	<!--读取属性文件 <context:property-placeholder location="classpath:jdbc.properties" /> -->
</beans>