<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/jee
     http://www.springframework.org/schema/jee/spring-jee.xsd"
	default-lazy-init="false">

	<!--政策同步数据源配置开始 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${das.jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${das.jdbc.url}" />
		<property name="user" value="${das.jdbc.username}" />
		<property name="password" value="${das.jdbc.password}" />
		<property name="initialPoolSize" value="${das.jdbc.initialPoolSize}" />
		<property name="minPoolSize" value="${das.jdbc.minPoolSize}" />
		<property name="maxPoolSize" value="${das.jdbc.maxPoolSize}" />
		<property name="maxIdleTime" value="${das.jdbc.maxIdleTime}" />
		<property name="acquireIncrement" value="${das.jdbc.acquireIncrement}" />
		<property name="maxStatements" value="${das.jdbc.maxStatements}" />
		<property name="idleConnectionTestPeriod" value="${das.jdbc.idleConnectionTestPeriod}" />
		<property name="checkoutTimeout" value="${das.jdbc.checkoutTimeout}" />
		<property name="acquireRetryAttempts" value="${das.jdbc.acquireRetryAttempts}" />
	</bean>

	<!-- 创建SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>

	<!-- ScanMapperFiles -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.outwit.das.*.dao" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>