<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- 天航科技理系统后台功能 开始 -->
		<typeAlias type="com.outwit.das.permission.model.User" alias="User" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.outwit.das.page.PageHelper">
			<property name="dialect" value="mysql" />
		</plugin>
	</plugins>
	<mappers>
		<mapper resource="com/outwit/das/permission/mapping/UserMapper.xml" />
	</mappers>
</configuration>
